{% extends 'base.html.twig' %}

{% block title %}Create Post{% endblock %}

{% block body %}
    <div>
        <div class="container mt-5">
            <div class="card">
                <span class="text-center">Create Post</span>
                {%- block post_form_widget -%}
                    {{ form_start(form) }}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                {%- endblock post_form_widget -%}
            </div>
        </div>
    </div>
{% endblock %}
