body {
    background-color: #f2f3f8;
    font-family: 'Numans', sans-serif;
    height: 100%;
}

.navbar {
    background-color: #282a3c;
    min-height: 60px;
}

.navbar-brand>img {
    height: 4rem;
}

.navbar-nav li a {
    color: #DDDDDD;
}

.navbar-nav li a:hover {
    color: #f56b6b !important;
}

.dropdown-menu a {
    color: #000000 !important;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

a {
    color: #000000;
}

label {
    margin-top: 0.5rem;
    margin-bottom: 0 !important;
}

.login-form {
    width: 360px;
    background-color: rgba(0,0,0,0.8) !important;
    padding: 20px 30px 20px 30px;
    color: #DDDDDD;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.table {
    font-size: 14px;
    vertical-align: middle;
}

.table img {
    max-height: 50px;
}

.green {
    color: #1DB954;
}

.red {
    color: #FF0000;
}

.main-margin-top {
    margin-top: 100px;
}

.img-thmb {
    max-width: 80px;
}

footer {
    margin-top: 60px;
    width: 100%;
    bottom: 0;
    height: 60px;
}

.user_block {
    display: flex;
    align-items: center;
}

#playText {
    font-weight: bold;
}

#playText:hover {
    cursor: pointer;
    color: #007bff;
}
