body {
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Numans', sans-serif;
    height: 100%;
}

.navbar-brand>img {
    height: 4rem;
}

.navbar-nav li a {
    color: #DDDDDD !important;
}

.navbar-nav li a:hover {
    color: #f56b6b !important;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

a {
    color: #000000;
}

.wrapper {
    height: 100vh;;
}

label {
    margin-top: 0.5rem;
    margin-bottom: 0 !important;
}

.login-form {
    width: 300px;
    background-color: #B0413E;
    padding: 20px 30px 20px 30px;
    color: #DDDDDD;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
